.footer {
    background-color: #f85694;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    color: white;
    margin-top: 2%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  





