.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(from color r g b);
    color: rgb(from color r g b);
}

.article {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    align-content: stretch; 
    word-spacing: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.aside {
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flower img {
    width: 100%;
    max-width: 500px;
    border-radius: 4%;
    object-fit: cover;
    height: auto;
}

@media (max-width: 480px) {
    .main {
        flex-direction: column;
        align-items: center;
}
    .article {
        width: 100%;    
}
    .aside {
        width: 87%;
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .main {
        flex-direction: column;
        align-items: center;
}
    .article {
        width: 100%;
}
    .aside {
        width: 83.7%;
    }
    .flower img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}